@{
    ViewData["Title"] = "The Library";
}

<div class="text-center">
    <h1 class="display-4">Hiieeeee</h1>
    <p>
        This will be a page where we can add books.
        It'll just be a table, with CRUD functionality.
        Maybe later I'll add different bookshelves for each user.
    </p>
</div>
