@model Book

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Book</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Title</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label>Author</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label>Display Order</label>
            <input type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Book" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

